/* Burger.css */
.burger {
  display: none;
  cursor: pointer;
  position: relative;
}

.burger-line {
  width: 30px;
  height: 2px;
  background-color: #171717;
  margin: 5px;
  display: block;
  transition: 0.3s ease-in-out;
}

.burger.open .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.burger.open .burger-line:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

.burger.open .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

@media (max-width: 992px) {
  .burger {
    display: block;
  }
}
